/* :root {

} */

/* BACKGROUND OPTIONS : */

/*
background: radial-gradient(
  circle,
  rgba(117, 86, 51, 1) 0%,
  rgba(181, 147, 110, 1) 24%,
  rgba(253, 227, 200, 1) 84%
);

  background: radial-gradient(
    circle,
    rgba(253, 227, 200, 1) 0%,
    rgba(224, 195, 164, 1) 60%,
    rgba(181, 147, 110, 1) 85%,
    rgba(117, 86, 51, 1) 100%
  );

    background: radial-gradient(
    circle,
    rgba(255, 246, 238, 1) 10%,
    rgba(253, 227, 200, 1) 37%,
    rgba(224, 195, 164, 1) 75%,
    rgba(181, 147, 110, 1) 100%
  );

*/

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  /*? how to stop the repeat at the end of the page? height ok? */
  background: radial-gradient(
    circle,
    rgba(229, 192, 153, 1) 8%,
    rgba(236, 208, 178, 1) 32%,
    rgba(253, 227, 200, 1) 50%,
    rgba(255, 246, 238, 1) 100%
  );
}

dialog::backdrop {
  backdrop-filter: blur(2px) sepia(0.2);
}

#game-section {
  display: flex;
  justify-content: space-around;
}

#game-div {
  padding: 20px;
}

#game {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  /* border-radius: 25px; */
  /* background: radial-gradient(
    circle,
    rgba(253, 235, 216, 1) 0%,
    rgba(252, 222, 190, 1) 100%
  ); */
  /* height: 560px; */
}
.cell {
  height: 40px;
  width: 40px;
  /* border: 1px solid black; */
}

.cell.small {
  height: 20px;
  width: 20px;
}
.cell.small svg {
  height: 100%; /* Adjust as needed */
  width: 100%; /* Adjust as needed */
}

.wall1,
.wall2,
.wall3,
.wall4,
.wall5,
.wall6,
.wall7,
.wall8,
.wall9 {
  background-size: cover;
}

.wall1 {
  background-image: url(./images/trees/tree1.svg);
}
/* Trop foncé? */
.wall2 {
  background-image: url(./images/trees/tree2.svg);
}
.wall3 {
  background-image: url(./images/trees/tree3.svg);
}
.wall4 {
  background-image: url(./images/trees/tree4.svg);
}
.wall5 {
  background-image: url(./images/trees/tree5.svg);
}
.wall6 {
  background-image: url(./images/trees/tree6.svg);
}
.wall7 {
  background-image: url(./images/trees/tree7.svg);
}
.wall8 {
  background-image: url(./images/trees/tree8.svg);
}
.wall9 {
  background-image: url(./images/trees/tree9.svg);
}

.finish {
  background-image: url(./images/other/exit.svg);
  background-size: cover;
}
.entry {
  /* ??Possible to keep the svg if player in this cell? */
  background-image: url(./images/other/entry.svg);
  background-size: cover;
}

/* PLAYER */
.player,
.player.left,
.player.right {
  background-size: cover;
}
.player {
  background-image: url(./images/player/player.svg);
}
.player.left {
  background-image: url(./images/player/player_left.svg);
}
.player.right {
  background-image: url(./images/player/player_right.svg);
}

/* TREASURE */
.treasure1,
.treasure2,
.treasure3,
.treasure4 {
  background-size: cover;
}
.treasure1 {
  background-image: url(./images/other/treasure_1.svg);
}
.treasure2 {
  background-image: url(./images/other/treasure_2.svg);
}
.treasure3 {
  background-image: url(./images/other/treasure_3.svg);
}
.treasure4 {
  background-image: url(./images/other/treasure_4.svg);
}

/* HELP */
.help {
  background-size: cover;
}
.help {
  background-color: green;
}

/* VILLAIN */
.villain1,
.villain2,
.villain3 {
  background-size: cover;
}
.villain1 {
  background-image: url(./images/other/villain.svg);
}
.villain2 {
  background-image: url(./images/other/villain_2.svg);
}
.villain3 {
  background-image: url(./images/other/villain_3.svg);
}

.key {
  background-color: chocolate;
}
