* {
  box-sizing: border-box;
}

dialog::backdrop {
  backdrop-filter: blur(2px) sepia(0.2);
}

#game-section {
  display: flex;
  justify-content: space-around;
}

#game-div {
  padding: 20px;
}

#game {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  /* height: 560px; */
}
.cell {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.cell.small {
  height: 20px;
  width: 20px;
}

.finish {
  background-color: aqua;
}

.player {
  background-color: blueviolet;
}

.treasure {
  background-color: yellow;
}

.help {
  background-color: green;
}

.villain {
  background-color: red;
}

.key {
  background-color: chocolate;
}
