.help {
  background-size: cover;
}
.help1 {
  background-image: url(../images/help/help_1.svg);
}
.help2 {
  background-image: url(../images/help/help_2.svg);
}
.help3 {
  background-image: url(../images/help/help_3.svg);
}
.help4 {
  background-image: url(../images/help/help_4.svg);
}
.help5 {
  background-image: url(../images/help/help_5.svg);
}
