/* KEYS = backpack */
.key1 {
  background-image: url(../images/keys/key_5.svg);
}
.key2 {
  background-image: url(../images/keys/key_6.svg);
}
.key3 {
  background-image: url(../images/keys/key_7.svg);
}
.key4 {
  background-image: url(../images/keys/key_8.svg);
}

/* KEYS - key version
.key1 {
  background-image: url(../images/keys/key_1.svg);
}
.key2 {
  background-image: url(../images/keys/key_2.svg);
}
.key3 {
  background-image: url(../images/keys/key_3.svg);
}
.key4 {
  background-image: url(../images/keys/key_4.svg);
} */
